In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [19]:
df = pd.read_csv("loan_detection.csv")

In [20]:
df.head(2)

,age,campaign,pdays,previous,no_previous_contact,not_working,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,Loan_Status_label
0,56,1,999,0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,0
1,57,1,999,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [21]:
df.shape

(41188, 60)

In [22]:
df.columns

Index(['age', 'campaign', 'pdays', 'previous', 'no_previous_contact',
       'not_working', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'job_unknown', 'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'education_basic.4y', 'education_basic.6y',
       'education_basic.9y', 'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'education_unknown', 'default_no', 'default_unknown', 'default_yes',
       'housing_no', 'housing_unknown', 'housing_yes', 'loan_no',
       'loan_unknown', 'loan_yes', 'contact_cellular', 'contact_telephone',
       'month_apr', 'month_aug', 'month_dec', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'day_of_week_fri', 'day_of_week_mon', 'day_of_week_thu',
       'day_of_week_tue', 'day_of_week_wed', 'poutcome_failure',
       'poutcome_nonexistent', 'poutcome_success', 'Loan_Status_label'],
      dtype='object')

In [23]:
for i in df.columns:
    print(df[i].value_counts())
    print()

age
31    1947
32    1846
33    1833
36    1780
35    1759
      ...
91       2
98       2
95       1
87       1
94       1
Name: count, Length: 78, dtype: int64

campaign
1     17642
2     10570
3      5341
4      2651
5      1599
6       979
7       629
8       400
9       283
10      225
11      177
12      125
13       92
14       69
17       58
16       51
15       51
18       33
20       30
19       26
21       24
22       17
23       16
24       15
27       11
29       10
28        8
26        8
25        8
30        7
31        7
35        5
33        4
32        4
34        3
43        2
40        2
42        2
39        1
56        1
37        1
41        1
Name: count, dtype: int64

pdays
999    39673
3        439
6        412
4        118
9         64
2         61
7         60
12        58
10        52
5         46
13        36
11        28
1         26
15        24
14        20
8         18
0         15
16        11
17         8
18         7
22         3
19         3
21         2
25         1
26         1
27         1
20         1
Name: count, dtype: int64

previous
0    35563
1     4561
2      754
3      216
4       70
5       18
6        5
7        1
Name: count, dtype: int64

no_previous_contact
1    39673
0     1515
Name: count, dtype: int64

not_working
0    37579
1     3609
Name: count, dtype: int64

job_admin.
0    30766
1    10422
Name: count, dtype: int64

job_blue-collar
0    31934
1     9254
Name: count, dtype: int64

job_entrepreneur
0    39732
1     1456
Name: count, dtype: int64

job_housemaid
0    40128
1     1060
Name: count, dtype: int64

job_management
0    38264
1     2924
Name: count, dtype: int64

job_retired
0    39468
1     1720
Name: count, dtype: int64

job_self-employed
0    39767
1     1421
Name: count, dtype: int64

job_services
0    37219
1     3969
Name: count, dtype: int64

job_student
0    40313
1      875
Name: count, dtype: int64

job_technician
0    34445
1     6743
Name: count, dtype: int64

job_unemployed
0    40174
1     1014
Name: count, dtype: int64

job_unknown
0    40858
1      330
Name: count, dtype: int64

marital_divorced
0    36576
1     4612
Name: count, dtype: int64

marital_married
1    24928
0    16260
Name: count, dtype: int64

marital_single
0    29620
1    11568
Name: count, dtype: int64

marital_unknown
0    41108
1       80
Name: count, dtype: int64

education_basic.4y
0    37012
1     4176
Name: count, dtype: int64

education_basic.6y
0    38896
1     2292
Name: count, dtype: int64

education_basic.9y
0    35143
1     6045
Name: count, dtype: int64

education_high.school
0    31673
1     9515
Name: count, dtype: int64

education_illiterate
0    41170
1       18
Name: count, dtype: int64

education_professional.course
0    35945
1     5243
Name: count, dtype: int64

education_university.degree
0    29020
1    12168
Name: count, dtype: int64

education_unknown
0    39457
1     1731
Name: count, dtype: int64

default_no
1    32588
0     8600
Name: count, dtype: int64

default_unknown
0    32591
1     8597
Name: count, dtype: int64

default_yes
0    41185
1        3
Name: count, dtype: int64

housing_no
0    22566
1    18622
Name: count, dtype: int64

housing_unknown
0    40198
1      990
Name: count, dtype: int64

housing_yes
1    21576
0    19612
Name: count, dtype: int64

loan_no
1    33950
0     7238
Name: count, dtype: int64

loan_unknown
0    40198
1      990
Name: count, dtype: int64

loan_yes
0    34940
1     6248
Name: count, dtype: int64

contact_cellular
1    26144
0    15044
Name: count, dtype: int64

contact_telephone
0    26144
1    15044
Name: count, dtype: int64

month_apr
0    38556
1     2632
Name: count, dtype: int64

month_aug
0    35010
1     6178
Name: count, dtype: int64

month_dec
0    41006
1      182
Name: count, dtype: int64

month_jul
0    34014
1     7174
Name: count, dtype: int64

month_jun
0    35870
1     5318
Name: count, dtype: int64

month_mar
0    40642
1      546
Name: count, dtype: int64

month_may
0    27419
1    13769
Name: count, dtype: int64

month_nov
0    37087
1     4101
Name: count, dtype: int64

month_oct
0    40470
1      718
Name: count, dtype: int64

month_sep
0    40618
1      570
Name: count, dtype: int64

day_of_week_fri
0    33361
1     7827
Name: count, dtype: int64

day_of_week_mon
0    32674
1     8514
Name: count, dtype: int64

day_of_week_thu
0    32565
1     8623
Name: count, dtype: int64

day_of_week_tue
0    33098
1     8090
Name: count, dtype: int64

day_of_week_wed
0    33054
1     8134
Name: count, dtype: int64

poutcome_failure
0    36936
1     4252
Name: count, dtype: int64

poutcome_nonexistent
1    35563
0     5625
Name: count, dtype: int64

poutcome_success
0    39815
1     1373
Name: count, dtype: int64

Loan_Status_label
0    36548
1     4640
Name: count, dtype: int64

In [24]:
df.isnull().sum()

age                              0
campaign                         0
pdays                            0
previous                         0
no_previous_contact              0
not_working                      0
job_admin.                       0
job_blue-collar                  0
job_entrepreneur                 0
job_housemaid                    0
job_management                   0
job_retired                      0
job_self-employed                0
job_services                     0
job_student                      0
job_technician                   0
job_unemployed                   0
job_unknown                      0
marital_divorced                 0
marital_married                  0
marital_single                   0
marital_unknown                  0
education_basic.4y               0
education_basic.6y               0
education_basic.9y               0
education_high.school            0
education_illiterate             0
education_professional.course    0
education_university.degree      0
education_unknown                0
default_no                       0
default_unknown                  0
default_yes                      0
housing_no                       0
housing_unknown                  0
housing_yes                      0
loan_no                          0
loan_unknown                     0
loan_yes                         0
contact_cellular                 0
contact_telephone                0
month_apr                        0
month_aug                        0
month_dec                        0
month_jul                        0
month_jun                        0
month_mar                        0
month_may                        0
month_nov                        0
month_oct                        0
month_sep                        0
day_of_week_fri                  0
day_of_week_mon                  0
day_of_week_thu                  0
day_of_week_tue                  0
day_of_week_wed                  0
poutcome_failure                 0
poutcome_nonexistent             0
poutcome_success                 0
Loan_Status_label                0
dtype: int64

In [25]:
df.duplicated().sum()

np.int64(2417)

In [26]:
df.drop_duplicates(inplace = True)

In [27]:
df.duplicated().sum()

np.int64(0)

In [28]:
df.describe()

,age,campaign,pdays,previous,no_previous_contact,not_working,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,Loan_Status_label
count,38771.000000,38771.000000,38771.000000,38771.000000,38771.000000,38771.000000,38771.000000,38771.000000,38771.000000,38771.000000,...,38771.000000,38771.000000,38771.000000,38771.000000,38771.000000,38771.000000,38771.000000,38771.000000,38771.000000,38771.000000
mean,40.171107,2.635630,960.224188,0.181373,0.960950,0.090686,0.248510,0.223595,0.036187,0.026360,...,0.014547,0.191638,0.209125,0.207784,0.195249,0.196203,0.107374,0.857239,0.035387,0.118439
std,10.492319,2.832271,192.358267,0.506562,0.193716,0.287166,0.432155,0.416659,0.186757,0.160205,...,0.119732,0.393595,0.406689,0.405727,0.396397,0.397129,0.309592,0.349834,0.184759,0.323131
min,17.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32.000000,1.000000,999.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,38.000000,2.000000,999.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,47.000000,3.000000,999.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,98.000000,56.000000,999.000000,7.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [30]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [31]:
corr = df.corr()['Loan_Status_label']

In [32]:
corr.sort_values()

pdays                           -0.324611
no_previous_contact             -0.324572
poutcome_nonexistent            -0.191993
contact_telephone               -0.152383
month_may                       -0.112099
default_unknown                 -0.103227
job_blue-collar                 -0.075625
campaign                        -0.074539
education_basic.9y              -0.047056
marital_married                 -0.043307
job_services                    -0.033042
month_jul                       -0.030064
education_basic.6y              -0.024966
day_of_week_mon                 -0.023220
job_entrepreneur                -0.019306
month_nov                       -0.014042
month_jun                       -0.013482
marital_divorced                -0.013390
housing_no                      -0.011295
education_basic.4y              -0.011243
loan_yes                        -0.010239
education_high.school           -0.008653
day_of_week_fri                 -0.008518
job_housemaid                   -0.007496
job_self-employed               -0.006224
loan_unknown                    -0.004555
housing_unknown                 -0.004555
job_technician                  -0.003678
default_yes                     -0.003224
job_unknown                     -0.002082
job_management                  -0.001627
month_aug                       -0.001080
education_professional.course    0.002225
marital_unknown                  0.004679
day_of_week_wed                  0.006439
education_illiterate             0.006922
day_of_week_tue                  0.009548
loan_no                          0.011501
job_unemployed                   0.012016
housing_yes                      0.012686
day_of_week_thu                  0.015907
education_unknown                0.019507
age                              0.026865
poutcome_failure                 0.028345
job_admin.                       0.035250
education_university.degree      0.054144
marital_single                   0.056264
month_apr                        0.075303
month_dec                        0.077943
job_retired                      0.091108
job_student                      0.092536
default_no                       0.103282
not_working                      0.118294
month_sep                        0.125469
month_oct                        0.135743
month_mar                        0.141504
contact_cellular                 0.152383
previous                         0.228665
poutcome_success                 0.316035
Loan_Status_label                1.000000
Name: Loan_Status_label, dtype: float64